/* CSS mengjia 070420 */
.Block_A{border:1px solid #b9c8dd;border-top:2px solid #5c72b0;margin-top:10px;background:url(images/fhbk_mj_008.gif) repeat-y 219px 0;}
html* .Block_A{background-position:220px 0;}
.Block_A .BA_Title{float:left;padding-top:20px;width:98px;text-align:center;}

.Block_A .BA_Menu{width:122px;float:left;padding-top:23px;}
.Block_A .BA_Menu li{height:24px;margin-bottom:3px;background:url(images/fhbk_mj_008.gif) repeat-y right #d8e2f0;cursor:pointer;width:122px;overflow:hidden;}
html* .Block_A .BA_Menu li{margin-bottom:0;}
.Block_A .BA_Menu li .Num{float:left;padding:6px 7px 0 3px;width:17px;}
.Block_A .BA_Menu li .Title{float:left;color:#1e4a89;padding-top:6px;line-height:14px;font-size:12px;width:95px;}
.Block_A .BA_Menu li.selectd{background:url(images/fhbk_mj_007.gif) no-repeat 0 0;}

.Block_A .Cont{float:left;padding-left:20px;padding-top:15px;margin:10px 0;width:395px;background:url(images/fhbk_mj_009.gif) repeat-y right;color:#333;height:147px;}
.Block_A .Cont h3{height:24px;font-size:12px;}
.Block_A .Cont p{line-height:14px;height:27px;}

.Block_A .Memo{width:290px;padding-left:17px;float:left;color:#838383;margin:10px 0;padding-top:10px;}
.Block_A .Memo h3{font-size:12px;line-height:20px;}

.ImgScrList{background:url(images/fhbk_mj_012.gif) repeat-x;width:352px;height:135px;}
.ImgScrList .LeftBotton{width:20px;height:135px;background:url(images/fhbk_mj_013.gif) no-repeat 0 0;float:left;cursor:pointer;}
.ImgScrList .RightBotton{width:20px;height:135px;background:url(images/fhbk_mj_014.gif) no-repeat 0 0;float:left;cursor:pointer;}
.ImgScrList .Cont{width:312px;float:left;overflow:hidden;}
.ImgScrList .ScrCont{width:10000px;height:135px;}
.ImgScrList #List1{float:left;height:135px;}
.ImgScrList .Box{float:left;width:78px;text-align:center;padding-top:11px;}
.ImgScrList .Box img{display:block;border:1px solid #808284;margin:0 auto;}
.ImgScrList .Box p{padding-top:5px;}

.Block_B{width:217px;}
.Block_B .T_Menu{height:24px;background:url(images/fhbk_mj_015.gif) repeat-x;}
.Block_B .T_Menu h2{padding-top:5px;padding-left:19px;float:left;font-size:14px;color:#1e4a89;}
.Block_B .T_Menu ul{float:right;padding-right:1px;padding-top:3px;}
.Block_B .T_Menu li{float:left;display:inline;margin-left:2px;width:34px;border:1px solid #b9c8dd;border-bottom:none;padding:5px 0 1px;background:url(images/fhbk_mj_017.gif) repeat-x;text-align:center;color:#1e4a89;font-weight:bold;line-height:14px;cursor:pointer;}
.Block_B .T_Menu li.selectd{background:url(images/fhbk_mj_016.gif) repeat-x;color:#5b5991;}
.Block_B .Cont{padding-top:10px;padding-left:7px;}
.Block_B .Cont li{line-height:23px;width:210px;clear:both;}
html* .Block_B .Cont li{display:inline;}
.Block_B .Cont li .Num{width:15px;height:15px;line-height:15px;float:left;font-family:Arial;font-size:9px;color:#818181;text-align:center;float:left;background:url(images/fhbk_mj_018.gif) no-repeat 0 0;margin-top:2px;padding-left:2px;}
html* .Block_B .Cont li .Num{width:17px;}
.Block_B .Cont li .Text{float:left;padding-left:9px;width:129px;}
.Block_B .Cont li .Chart{float:left;border:1px solid #ccc;padding:1px;margin-top:4px;}

.Block_C{width:948px;border:1px solid #bbcade;background:#fafafa;}
.Block_C .T_Menu{height:24px;background:url(images/fhbk_mj_015.gif) repeat-x;}
.Block_C .T_Menu h2{padding-top:5px;padding-left:29px;float:left;font-size:14px;color:#1e4a89;}
.Block_C .T_Menu ul{float:left;padding-left:18px;padding-top:3px;}
.Block_C .T_Menu li{float:left;margin-right:4px;width:84px;border:1px solid #b9c8dd;border-bottom:none;padding:5px 0 1px;background:url(images/fhbk_mj_017.gif) repeat-x;text-align:center;color:#1e4a89;font-weight:bold;line-height:14px;cursor:pointer;}
.Block_C .T_Menu li.selectd{background:url(images/fhbk_mj_016.gif) repeat-x;}
.Block_C .Cont{padding:10px 0 6px;display:inline-block;}
.Block_C .Cont ul{float:left;}
.Block_C .Cont li{width:86px;float:left;height:20px;text-align:center;}
.BC_Box_1{border-top:1px solid #b9c8dd;height:31px;clear:both;}
.BC_Box_1 h3{width:118px;font-size:12px;float:left;padding-top:8px;color:#1e4a89;text-align:center;}
.BC_Box_1 p{float:left;font-family:Arial;color:#1e4a89;padding-top:8px;line-height:14px;}
.BC_Box_1 p a:link,.BC_Box_1 p a:visited{color:#1e4a89; text-decoration:none;margin-right:14px;}
.BC_Box_1 p a:hover{color:#f00; text-decoration:underline;}


/* Á´½Ó */
a.link_1e4a89_il:link,a.link_1e4a89_il:visited{background:url(images/fhbk_mj_011.gif) no-repeat 100% 7px;padding-right:6px;color:#1e4a89;}
a.link_1e4a89_il:hover{color:#f00;}